<% cms_cache do
   links = cms_link('simple-link', 0, Float::INFINITY)
   texts = cms_text('simple-text', 0, Float::INFINITY)
   image = cms_image('simple-image')
-%>

<div>
  <%= link_to_switch_edit_mode %>
</div>

<div>
  <%= links.ul_sortable_tag do %>
    <% links.menu %>
  <% end %>
</div>

<div>
  <%= texts.ul_sortable_tag do %>
    <% texts.each do |text| %>
      <%= text.li_sortable_tag do %>
        <%= text.html %>
        <%= text.edit_link %>
      <% end %>
    <% end %>
    <li><%= texts.add_link %></li>
  <% end %>
</div>

<div>
  <%= image_tag image.path %>
  <%= image.edit_link %>
</div>

<% end %>