<% view = cms_page %>

<% cms_cache do
   links = cms_link(0, Float::INFINITY)
   texts = cms_text(0, Float::INFINITY)
   image = cms_view_image
   block = cms_view_example
-%>

<div>
  <%= view.edit_link %>
  <%= view.add_link %>
</div>

<div>
  <%= links.ul_sortable_tag do %>
    <% links.menu %>
  <% end %>
  <% links.active_link %>
</div>

<div>
  <%= texts.ul_sortable_tag do %>
    <% texts.each do |text| %>
      <%= text.li_sortable_tag do %>
        <%= text.html %>
        <%= text.edit_link %>
      <% end %>
    <% end %>
    <li><%= texts.add_link %></li>
  <% end %>
</div>

<div>
  <%= image_tag image.path %>
  <%= image.edit_link %>
</div>

<div>
  <%= block.render %>
  <%= block.edit_link %>
</div>

<% end %>