<%
   links = cms_link('simple-link', 0, Float::INFINITY)
   texts = cms_text('simple-text', 0, Float::INFINITY)
-%>

<div>
  <%= link_to_switch_edit_mode %>
</div>

<div>
  <ul <%= links.sortable_html %>>
    <% links.menu %>
  </ul>
</div>
<div>
  <ul>
    <% texts.each do |text| %>
      <li>
        <%= text.html %>
        <%= text.edit_link %>
      </li>
    <% end %>
    <li><%= texts.add_link %></li>
  </ul>
</div>
